
body{
    margin: 0;
    padding: 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    color: #111;
    height: 100dvh;
}
header{
    background-color: #333;
    order: 1;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: 800;
    padding: 1em;
    color: #fff;
}
nav{
    background-color: #740;
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav a{
  margin-left: 1em;
  margin-right: 1em;
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  padding: 1em;
}
.activeNavLink{
    background-color: black ;
}
.navLink{
    background-color: blue;
}
main{
    background-color: #ddd;
    order: 2;
    height: 100%;
    padding: 2em;
    color: #111;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;    
}
@media screen and (min-width: 500px) {
    nav{
        order: 2;
    }
    main{
        order: 3;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    body{
        overflow: hidden;
    }
    
}
.form{
    display: flex;
    flex-direction: column;
    align-items: left;
    border: solid #222 1px;
    border-radius: 0.25em;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    padding: 1em;
    
}
button{
    max-width: fit-content;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    background-color: rgb(12, 74, 209);
    border: 0;
    border-radius: 1em;
    color: #fff;
    margin: 1em;
    margin-left: 0;
    opacity: 80%;
}
button:hover{
    cursor:pointer;
    opacity: 100%;
}
.registerButton{
    background-color: rgb(24, 97, 6);
}
.resetButton{
    background-color: rgb(224, 42, 42);
    margin-left: 0;
}
.cancelButton{
    background-color: rgb(216, 24, 24);
}
input{
    margin-bottom: 1.5em;
    height: 2em;
    min-width: 20em;
}
li{
    list-style-type: none;
    margin: 1em;
}
.message{
    color: red;
}
.inputLabel{
    display: block;   
}
.repInput, .data-input{
    min-width: 15%;
    max-width: 15%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
}
.containerDiv{
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 0.25em;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    padding: 1em;
    background-color: #fef;
    width: fit-content;
    height: fit-content;
}
.chart{
    width: 120%;
    height: 60%;
    
}
@media screen and (min-width:500px) {
    .containerDiv{
        width: fit-content;
        height: fit-content;
    }
    .chart{
        
    }
}